html, body, div{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 40px auto;
}

.main-container {
    width: 500px;
    height: 600px;
    height: auto;
    background-color: white;
    border-radius: 15px;
}

.display-container {
    width: 80%;
    height: 100px;
    margin: 20px 10px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 4rem;
    line-height: 100px;
    padding-left: 50px;
    text-align: left;
}
.display-container p {
    margin: 0;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button-container {
    width: 450px;
    height: 600px;
}

.button-item {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 15px;
    font-size: 2rem;
    font-weight: bold;
    border: 5px solid transparent;
    background-color: black;
    color: white;
}
.button-item:hover{
    border-color: black;
    background-color: white;
    color: black;
}
.button-long {
    margin: 0 115px 0 15px;
}